/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.like-icon .core {
    fill: var(--bg-color);
    transition: fill 0.3s linear 0.03s;
}

.like-icon .main-body {
    fill: var(--bg-color);
    transition: fill 0.3s linear;
}

.like-icon .contour {
    fill: var(--heart-contour);
    transition: fill 0.1s linear;
}

.like-icon .heart {
    transform-origin: center;
}

.like-icon .sparks {
    opacity: 0;
}

.like-icon:hover .core {
    fill: var(--heart-contour);
    transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
    fill: var(--heart-contour);
    transition: fill 0.3s linear 0.05s;
}


.like-icon:active .core {
    fill: var(--heart-fill);
    transition: fill 0.3s linear;
}

.like-icon:active .main-body {
    fill: var(--heart-fill);
    transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
    fill: var(--heart-fill);
    transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
    fill: var(--heart-fill);
    transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
    fill: var(--heart-fill);
    transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked {
    animation: heart-scale 0.3s 0.1s ease-in;
}

.like-icon.is-liked .sparks {
    animation: sparks-appear 0.3s 0.3s ease-in;
}

@keyframes heart-scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.25);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes sparks-appear {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}