/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  font-variation-settings: 'wght' var(--text-weight);
  background-color: var(--bg-color);
  color: #000;
  background-image: var(--bg-image);
  background-size: cover;
  background-attachment: fixed;
}

.header {
  width: var(--section-width);
  margin-top: 100px;
  margin-bottom: 100px;
  font-family: var(--accent-font);
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  background-color: var(--bg-color);
  border: 2px solid currentColor;
}

.header__logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-transform: uppercase;
  padding: 128px 0 20px 0;

}

.header__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
  padding-bottom: 128px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 49px;
}

.card {
  width: var(--section-width);
  margin-inline: auto;
  border: 2px solid currentColor;
  background-color: var(--bg-color);
  overflow: hidden;
}

.card__header {
  padding: 3px 10px 5px 10px;
  font-size: 18px;
  font-variation-settings: 'wght' var(--title-weight);
  border-bottom: 2px solid currentColor;
}

.card__content {
  position: relative;
  border-bottom: 2px solid currentColor;
}

.card__image {
  display: block;
  width: 100%;
  object-fit: cover;
}

.card__label {
  position: absolute;
  top: 1.5625rem;
  right: 1.5rem;
  font-family: var(--accent-font);
  font-size: 14px;
  z-index: 1;
  color: #000000;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow:
          -1px 0 var(--stroke-color),
          0 1px var(--stroke-color),
          1px 0 var(--stroke-color),
          0 -1px var(--stroke-color);
}

.card__text {
  display: grid;
  gap: 25px;
  font-weight: var(--text-weight);
  font-size: 18px;
  margin: 25px 25px 0 25px;
  line-height: 21px;
}

.card__text p {
  width: 100%;
  max-width: 645px;
}

.card__footer {
  margin: 20px 25px 25px 0;
  display: flex;
  justify-content: end;
}

.card__icon-button {
  display: grid;
  border: 2px solid transparent;
  padding: 0;
  background: transparent;
  transition: border-color 0.3s ease;
  cursor: pointer;
  appearance: none;
  margin-top: 4px;
  margin-right: 4px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid currentColor;
}

.card__like-button {
  margin-top: 4px;
  width: 130px;
  height: 40px;
}

.save-button {
  width: 335px;
  height: 55px;
  gap: 8px;
  box-sizing: border-box;
  outline: none;
  margin-bottom: 102px;
}

.save-button-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
}

.save-button-text {
  text-align: left;
}


.save-button__icon {
  position: relative;
  z-index: 1;
  width: 21px;
  height: 21px;
  display: block;
  transition: filter 0.3s ease;
}

.save-button:hover .save-button__icon {
  filter: brightness(0) invert(1);
}

/* Общие стили для кнопок */

.button {
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  border: 2px solid currentColor;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
}

.button:focus {
  outline: none;
  box-shadow: 2px 2px 0 0 var(--accent-color);
}

.button::before {
  content: '';
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  transform: translateX(0);
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--bg-color);
  mix-blend-mode: difference;
  font-family: var(--accent-font);
  font-size: 14px;
}

/* Стили для модальнго окна */

.modal[open] {
  border: 2px solid currentColor;
  padding: 0 30px;
  max-inline-size: 353px;
  background: var(--bg-color);
  box-sizing: border-box;
  font-family: var(--accent-font);
  color: #000;
}

.modal[open]::backdrop {
  background-color: rgba(0,0,0,0.75);
}

.modal__content {
  margin: 30px 0;
}

.modal__icon {
  margin: 12px 20px 12px 0;
}

.modal__columns {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.modal__text {
  margin-bottom: 0;
  font-weight: var(--text-weight);
  font-family: var(--accent-font);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 150%;
  inline-size: 234px;
}

.modal__button {
  width: 100%;
  background: var(--bg-color);
  color: #000;
  border: 2px solid currentColor;
  font-family: var(--accent-font);
  font-size: 14px;
  font-weight: var(--text-weight);
  padding: 9px 0 7px 0;
  box-sizing: border-box;
  cursor: pointer;
  text-transform: uppercase;
}

/* Фильтры для изображений */

.filter-grayscale {
  filter: grayscale(0.8);
}

.filter-sepia {
  filter: sepia(0.85);
}

.filter-saturate {
  filter: saturate(3);
}

.filter-blur {
  filter: blur(10px);
}

.filter-hue-rotate {
  filter: hue-rotate(30deg);
}

.filter-invert {
  filter: invert(80%);
}

.filter-multiple {
  filter: hue-rotate(90deg) contrast(0.4) saturate(1.5) blur(2px);
}

@supports ((text-stroke: 0.5px var(--stroke-color)) or (-webkit-text-stroke: 0.5px var(--stroke-color))) {
  .card__label {
    -webkit-text-stroke: 0.5px var(--stroke-color);
    text-stroke: 0.5px var(--stroke-color);
    text-shadow: none;
  }
}

@media (width <= 375px) {
  .header {
    width: var(--mobile-width);
  }

  .header__logo {
    padding: 120px 14px 20px 14px;
  }

  .header__title {
    padding-bottom: 120px;
  }

  .card__label {
    right: 1.5rem;
  }

  .save-button {
    width: 306px;
    height: 84px;
    margin-right: 34px;
    margin-left: 34px;
    flex-direction: column;
    gap: 0;
  }

  .save-button__icon {
    width: 28px;
    height: 28px;
    margin-top: 14px;
    margin-left: 10px;
    margin-bottom: 10px;
  }


  .save-button-text {
    margin-bottom: 10px;
  }

  .modal__content {
    margin: 30px 10px;
  }

  .modal__button {
    padding: 9px 0 10px 0;
  }

  .modal {
    padding: 0 42px;
    margin-right: 17px;
    margin-left: 17px;
  }
}
